body {margin-inline-start: 10px;
    margin-inline-end: 10px; margin: 10px; padding : 10px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444;}

header {background-color: #865befcf; height: 35px; width: auto; opacity: .9; margin-bottom: 10px;}
header h1.logo {margin: 0; margin-left: 10px; font-size: 1.7em; color: #fff; float: left;}
header h1.logo:hover {color: #fff; text-decoration: none;}

.container {width: 800px; margin-top: 10px; padding-left: 80px;} 

div.container {width: auto; margin-top: 10px; padding-left: 80px; padding-right: 80px;}
div.form {padding: 10px 5px 30px 5px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.home {padding: 10px 5px 30px 5px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.about {padding: 10px 5px 30px 5px; margin-top: 10px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.best {padding: 10px 5px 30px 5px; margin-top: 10px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.movie_frm {padding: 10px 5px 30px 5px; margin-top: 10px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
div.actor_frm {padding: 10px 5px 30px 5px; margin-top: 10px; background-color: #E6E6FA; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

h2 {font-size: 3em; margin-top: 40px; text-align: center; letter-spacing: -2px;}
h3 {font-size: 1.7em; font-weight: 100; margin-top: 30px; text-align: center; letter-spacing: -1px; color: #999;}
img{
    max-width: 90%;
    max-height: 90%;
    display: block; /* remove extra space below image */
}
.menu {float: right; margin-top: 8px;}
.menu li {display: inline;}
.menu li + li {margin-left: 35px;}
.menu li a {color: #444; text-decoration: none;}
p {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: auto;
    padding: 10px;
  }

  .column50 {
    flex: 50%;
    padding: 10px;
  } 

  .column60 {
    flex: 60%;
    padding: 10px;
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }