{% extends "layout.html" %}
{% block content %}
    <div class="actor_frm">
        <form action="/actor_data/" method="POST">
            <p>To find out all the Hallmark TV movies a specific actor or actress was in, enter the First and Last Name in the box below and click submit. Keep in mind that some people have initials or capital letters in their name, as in the examples below. It should be whatever name they're listed as in IMDB. If you can't find someone that you are CERTAIN was in a Hallmark movie, try using the Movie page instead, to verify spelling. </p>
            <p>Actor name: <input type="text" name = "Actor"></p>
            <p>Examples (case-sensitive): Andrew W. Walker, Alison Sweeney, Danica McKellar, Tyler Hynes</p>
            <p><input type="submit" value="SUBMIT"></p>
        </form>
   </div>

{% endblock %}