{% extends "layout.html" %}
{% block content %}

{% if num_films > 0 %}

  <div class="container">
    <div class="row">
      <div class="col-md-5"><p><h1>Degrees of Separation</h1></p>
      <p>Leading the pack is 
        {% for each in path %}

            {% if loop.index % 2 %}
                <b>{{each}}</b>,
            {% endif %}
            
            {% if (loop.index -1) % 2 %}
            who was in "<b>{{each}}</b>" with
            {% endif %}    

            {% endfor %}

            whose effective "Lacey number" (degree separation from Lacey) is {{ distance }}!</p>
      </div>
      <div class="col-md-7">
        <p><p><h1>IMDB Page and Filmography</h1></p>{{ actor }}'s IMDB page can be found <a href='https://www.imdb.com/name/{{actor_nm}}' target="_blank">here</a>.</p> 
                <p>{{ actor }} has been in {{ num_films }} Hallmark TV Movies:</p>           
        <p>
        {% for each in films %}
                {{ each }}<br>
        {% endfor %}</p>
      </div>
    </div>
  </div>

{% else %}
    <p>A person with that exact name is not in the database. Note that names are punctuation and case sensitive, such as "Andrew W. Walker" and "Danica McKellar". If you know of a movie this person was in, use the Movie page to look it up, and double check the spelling of the person's name.</p>

{% endif %}

{% endblock %}