
{% extends "layout.html" %}
{% block content %}
    <div class="movie_frm">
        <form action="/movie_data/" method="POST">
            <p>To find a specific Hallmark TV movie and the primary cast members that were in it, enter the Title of the movie in the box below and click submit. Keep in mind that some movies have punctuation (comma, exclamation, colon) or non-capital letters (and, with, to, for) in the Title, as in the examples below. It should be the title as listed in IMDB. If you can't find a title that you are CERTAIN was a Hallmark movie, and you know any of the actors in it, try using the Actor page instead, to verify spelling.</p>
            <p>Movie title: <input type="text" name = "Movie"></p>
            <p>Examples (case-sensitive): It Was Always You, Date with Love, Good Morning Christmas!</p>
            <p><input type="submit" value="SUBMIT"></p>
        </form>
   </div>
{% endblock %}